@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
    font-family: Letra_NGE;
    src: url(/Fuentes/Farmhand-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.container_header{
    background-color:#26062e;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container_header header{
    max-width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 17px;
}
.container_header header .logo a img{
    width:30%;
}

.container_header header ul{
    display: flex;
    list-style: none;
}

.container_header header nav ul li a{
    font-family:"Letra_NGE";
    font-size: 300%;
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding:3px;
    transition: .5s;
    text-decoration: none;
}
.container_header header nav ul li a:hover{
    color: #6f1cc2;
}

.nav_responsive{
    color: #fff;
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}



























.advice{
    display:none;
}
@media (max-width:300px)or (min-width:2160px) {
    body *:not(.advice, .advice img, .min-screen, .min-screen *) {
        display:none;
    }

    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        position: absolute;
        background-image: radial-gradient(#775995,#6f1cc2);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .advice {
        display: flex;
        flex-direction:column ;
        position: fixed;
        flex-direction: column;
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
        justify-content: center;
        align-items: center;
    }

    p {
        color:#fff;
        font-size: 1.5rem;
        margin: 30px;
        text-align: center;
        font-family: 'Letra_NGE';
    }
    img{
        text-align: center;
        width: 150px;
    }
}
@media (min-width:2160px) {
    body *:not(.advice, .advice img, .min-screen, .min-screen *) {
        display:none;
    }

    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        position: absolute;
        background-image: radial-gradient(#775995,#6f1cc2);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .advice {
        display: flex;
        flex-direction:column ;
        position: fixed;
        flex-direction: column;
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
        justify-content: center;
        align-items: center;
    }

    p {
        color:#fff;
        font-size: 100px;
        margin: 30px;
        text-align: center;
        font-family: 'Letra_NGE';
    }
    img{
        text-align: center;
        width: 500px;
    }
}
@media screen and (max-width:700px) {
    .baners{
        flex-direction: column;
    }
}