@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
    font-family: Letra_NGE;
    src: url(Farmhand-Regular.ttf);
}

body{
    background-image: url(fondopersonajes.jpg);
    background-position: bottom;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carouselExampleCaptions{
    width: 100%;
    max-height: 90%;
    text-align: center;
    border:15px solid #50B758;
    border-radius: 65px;
}

img{
    border-radius: 50px;
    height: 800px;
}

.container-boton{
    display: flex;
    justify-content: center;
}
.container-boton .volveramain{
    text-decoration: solid;
    font-size: 100%;
    color: #31e70c;
    font-family: 'Righteous';
    padding: 7px;
    margin: 8px;
    background-color: #ffe600;
    width: 150px;
    border: 0px;
    border-radius: 22px 0;  
    transition-property: background-color, width;
    transition-duration: .3s;
}
.container-boton .volveramain:hover{
    width: 160px;
    background-color: #22f99f;
}
.container-boton .volveramain a{
    text-decoration: solid;
    color: #fff;
}