@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
    font-family: Letra_NGE;
    src: url(Farmhand-Regular.ttf);
}


body{
    background-image: url(Fondo.jpg);
    margin: 0;
    background-attachment: fixed;
    background-repeat: round;
}

.img-superiores{
    display:flex;
    justify-content: space-between;
}
#logo{
    width: 60%;
}
.eva_esquina{
    text-align: right;
}
#eva-esquina{
    width: 40%;
}
.titulo{
    line-height: 70px;
    color: white;
    font-size:400%;
    font-weight: 1200px ;
    display: flex;
    flex-direction: column;
    letter-spacing:-2px;
    font-family: 'Letra_NGE';
}
.masde a{
    text-decoration: solid;
    font-size: 100%;
    color: #fff;
    font-family: 'Righteous';
}
.masde{
    padding: 7px;
    margin: 8px;
    background-color: #765798;
    width: 150px;
    border: 0px;
    border-radius: 22px 0;  
    transition-property: background-color, width;
    transition-duration: .3s;
}
.masde:hover{
    width: 160px;
    background-color: #F99E22;
}
.baners{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}
.baners a{
    text-decoration: solid;
    color: #fff;
}
.baners .baner-H, .baners .baner-P, .baners .baner-C,.baners .baner-D{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:#1d1c21b9;
    width:200px;
    margin: auto;
    text-align: center;
    background-image: none;
    border-radius: 20px;
    margin: 20px;
    backdrop-filter: blur(6px);
    transition-property:background-color,backdrop-filter, width, background-image;
    transition-duration:.3s;
}
.baners .baner-H:hover{
    width: 250px;
    background-image: url(fondo-historia.png);
    backdrop-filter: blur(10px); 
}
.baners .baner-P:hover{
    width: 250px;
    background-image: url(fondo-personajes.png);
    backdrop-filter: blur(10px); 
}
.baners .baner-C:hover{
    width: 250px;
    background-image: url(fondo-curiosidades.png);
    backdrop-filter: blur(10px); 
}
.baners .baner-D:hover{
    width: 250px;
    background-image: url(fondo-dondeverlo.png);
    backdrop-filter: blur(10px); 
}
 
.baners .baner-H span, .baners .baner-P span, .baners .baner-C span,.baners .baner-D span{
    font-family: 'Letra_NGE';
    font-size: 30px;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Oculta cualquier desbordamiento del video */
}

.video-container {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* video cubre todo el contenedor */
}
.container-boton{
    display: flex;
    justify-content: center;
}
.container-boton .volveramain{
    text-decoration: solid;
    font-size: 100%;
    color: #fff;
    font-family: 'Righteous';
    padding: 7px;
    margin: 8px;
    background-color: #765798;
    width: 150px;
    border: 0px;
    border-radius: 22px 0;  
    transition-property: background-color, width;
    transition-duration: .3s;
}
.container-boton .volveramain:hover{
    width: 160px;
    background-color: #F99E22;
}
.container-boton .volveramain a{
    text-decoration: solid;
    color: #fff;
}

@media screen and (max-width:700px) {
    .baners{
        flex-direction: column;
    }
}
/* @media screen and (max-width:2000px){
#logo, #eva-esquina,aside,.titulo, .masde,.baners, .baners .baner-H, .baners .baner-P, .baners .baner-C,.baners .baner-D, span{
    width: max-content;
    height: max-content; 
}   
    
}
     */
    